# inventory.db
mvp_spec.pdf
inventory_management_system_plan.pdf
mvp.pdf
main.old
wip.md
index_search_working.html
db_migrate_equipment.py
db_migrate.py
static/diagnostic_equipment.py
.env
.env.production
db_add_reset_token.py
test_email.py
logs