# inventory.db
mvp_spec.pdf
inventory_management_system_plan.pdf
mvp.pdf
main.old
wip.md
index_search_working.html
static/index.old
static/index.old1
static/index.old2
static/index.old3
static/index.old4
static/index.old5
static/index.old6
static/index.old8
requirements.old
requirements.old2
db_migrate_equipment.py
db_migrate.py